body{
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    margin: 0;
}

.Paragraph-font{
    font-size: 16px;
    color: dimgray;
    text-align: justify;
    
}
.f-part{
   color: orange; 
}
section{
    display: flex;
    margin-bottom: 150px;
}
.for-half{
    width: 50%;
    padding-left: 5%;
}
.for-half img{
    width: 70%;
}
.button{
    font-size: 13px;
    text-decoration: none;
    background-image: linear-gradient( lightsalmon, tomato);
   /* background-color: orange;*/
    padding: 10px 40px;
    font-weight: 700;
    color: white;
    border-radius: 5px;
   
}
.for-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
   
}
.pad-ing{
    padding-right: 18%;
}
.for-banner2{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    padding-bottom: 13%;
}
.box{
    box-shadow: 10px 10px 30px gray;
    border-radius: 2%;
    margin-left: 3%;
    margin-right: 3%;
   
}
#border{
    border-left: 5px solid tomato;
}
#border2{
    border-left: 5px solid blue;
}
.big-dream{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
}
footer p{
    font-size: 16px;
    color: dimgray;
    text-align: center;
}